* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;font-family: 'Newsreader', serif;
    background-color: #FFFFFF;
  }
  
  :root {
    --primaryColor: #426B1F;
    --boxColor: #E6E6E6;
    --borderColor: #E6E6E6;
    --white: #FFFFFF;
    --primaryFontColor: #000000;
    --secondaryFontColor: #454444;
  }